#login-form .logo {
  text-align: center;
  margin: 6px 0 30px 0;
}

#login-form .logo img {
  width: 98px;
  height: 98px;
}

#login-form .checkbox-primary {
  display: inline-block;
}

#login-form .forgot-password {
  display: inline-block;
  float: right;
}

#login-form .forgot-password a {
  color: #cac8c8;
}

#login-form .input-with-icon {
  -webkit-box-shadow: 0px 0px 7px 0px rgba(204,204,204,1);
  -moz-box-shadow: 0px 0px 7px 0px rgba(204,204,204,1);
  box-shadow: 0px 0px 7px 0px rgba(204,204,204,1);
}

#login-form .input-with-icon {
  position: relative;
}

#login-form .input-with-icon input{
  width: 90%;
  margin-left: 10px;
  border: none;
}

#login-form .input-with-icon i{
  position: absolute;
  top: 50%;
  margin-top: -8px;
  right: 16px;
}

#login-form .buttons {
  text-align: center;
}

#login-form .btn-login {
  background-color: #002144;
  color: #fff !important;
  width: 200px;
}

#login-form footer {
  margin: 30px 0 0 6px;
  text-align: center;
  font-size: 16px;
}

#login-form footer span {
  margin-right: 10px;
}

#login-form footer a {
  color: #6a6c6f;
}