.action-panel-btn{
	box-shadow: 0 1px 3px #ccc;
	border: none;
	color: $text-color;
}

.app-actions-list{
	position: relative;
	height: calc(100% - 80px);
	overflow: hidden;
	.list-group-item{
		background: transparent;
		border: none;
		padding-top: 12px;
		padding-bottom: 12px;
	}
}

.action-panel-toggle{
	display: none;
	position: absolute;
	top: calc(50% - 25px);
	right: -25px;
	height: 50px;
	width: 25px;
	cursor: pointer;
	border-top-right-radius: 100px;
	border-bottom-right-radius: 100px;
	background: #fff;
	@include box-shadow(1px 0 3px #aaa);
	.fa{
		display: none;
		line-height: 50px;
		text-align: center;
		font-size: 18px;
		&:hover{
			color: $primary;
		}
		&.fa-chevron-right{
			display: block;
		}
	}
}

@media (max-width: $screen-md-min) {
	.action-panel-toggle{
		display: block;
	}

	.app-action-panel{
		position: fixed;
		width: 280px;
		height: calc(100% - $navbar-height);
		top: $navbar-height;
		bottom: 0;
		left: -282px;
		background: #fff;
		padding: 16px;
		@include box-shadow(0 0 3px #aaa);
		z-index: 999;
		transition: left .5s ease;
		&.open{
			left: 0;
			.fa-chevron-right{
				display: none;
			}
			.fa-chevron-left{
				display: block;
			}
		}
	}
}

.app-action-panel{
	.item-actions{
		position: absolute;
		top: 0;
		right: 0;
		padding-top: 12px;
		padding-right: 16px;
		display: none;
		.item-action{
			font-size: 16px;
			color: $text-color;
			margin-left: 8px;
			&:hover{
				color: $info;
			}
		}
	}

	.list-group-item:hover{
		.hide-on-hover{
			display: none;
		}
		.item-actions{
			display: block;
		}
	}
}