/**========= DASHBOARD MAIN ===========**/
.app-main{
  margin-top: $navbar-height;
  margin-left: 0;
  opacity: 0;
  transition: opacity 1s;
  &.in{
    opacity: 1;
  }
}

.wrap{
  padding-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.container{
  .wrap{
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: $screen-xs-max) {
  .wrap{
    padding-left: .75rem;
    padding-right: .75rem;
  }
}