#users-page {

  #table-with-filter  {

    .filter-sidebar {

      .sidebar-header-options {
        .list-group {
          margin: 10px 0px;
        }
      }

      .list-group-item {
        padding: 10px 3px;
      }
    }

    table {
      > tbody {
        > tr {
          > td {
            vertical-align: middle;

            &.column-image-profile {
              width: 56px;
            }
          }
        }
      }
    }
  }
}