.app-customizer{
	position: fixed;
	top: 160px;
	right: -202px;
	width: 200px;
	height: auto;
	background: #fff;
	@include box-shadow(0 0 2px #aaa);
	transition: right .5s ease 0s;
	z-index: 888;
	.nav-tabs li a{
		color: $text-color;
		border: none;
	}

	.nav-tabs li.active a,
	.nav-tabs li.active a:focus,
	.nav-tabs li.active a:hover{
		border: none;
		color: $primary;
		border-bottom: 1px solid $primary;
		background-color: #fff;
	}
	.tab-pane{
		padding: 24px;
	}

	.radio{
		label{
			font-weight: 600;
			font-size: 14px;
		}
	}

	&.open{
		right: 0;
	}
}

.app-customizer-toggle{
	position: absolute;
	background: #fff;
	right: 100%;
	top: 0;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	color: $text-color;
	text-decoration: none;
	font-size: 16px;
	@include box-shadow(0 0 2px #aaa);
	.fa{
		animation: rotate-me 2s infinite linear;
	}
}

@keyframes rotate-me {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

div.sb-top .hide-top-bar {
  display: none !important;
}